body {
  background: #919396;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

.error-text { color: red; }

html {
  height: 100%;
}

body {
  display: flex;
  display: -webkit-flex;
  height: 100%;

}
body > section {
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  display: flex;
  display: -webkit-flex;
  background: #ffffff;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 1rem;
  overflow: hidden;
}
body > section .buttons {
  flex: 0 0 auto;
  font-size: 1.2rem;
  align-self: left;
  -webkit-align-self: left;
  text-align: left;
}
body > section .code-input {
  flex: 2 1 50%;
  -webkit-flex: 2 1 50%;
  border: 3px solid #004481;
  margin-top: 1rem;
  border-radius: 0.75rem;
  overflow: hidden;
  font-size: 1em;
  font-family: courier;
  min-height: 1.2em;
}
body > section .code-output {
  flex: 1 1 40%;
  overflow: auto;
  font-family: courier;
  font-size: inherit;
  margin: .2rem;
  padding: .3rem;
}
body > section .rounded-box {
  display: flex;
  flex: 1 1 40%;
  -webkit-flex: 1 1 40%;
  border: 3px solid #004481;
  border-radius: 0.75rem;
  min-height: 2em;
  overflow: hidden;
}
button {
  width: auto;
  height: 2em;
  background: #004481;
  color: #ffffff;
  border: none;
  border-radius: 1em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1em;
}

input.user-input {
    border: solid 2px red;
    border-radius: .75em;
}
input.user-input:disabled {
    border-color: gray;
}

.outcome {
  display: inline-block;
  color: #ffffff;
  border-radius: 100%;
  width: 2em;
  line-height: 2em;
  text-align: center;
}
.invisible {
  opacity: 0;
}
.checkmark {
  display: inline-block;
  background-color: #86c557;
  color: #ffffff;
  border-radius: 100%;
  font-size: 1.5rem;
  width: 1.3em;
  height: 1.3em;
  text-align: center;
}
.success {
  background-color: #86c557;
}
.hidden {
  display: none;
}
